
a, button{ display: inline-block; text-decoration: none; color: inherit; line-height: 1.3;
	-webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #0C0E68; }

b{ font-weight: 700; }

img{ width: 100%; }

ul > li{ list-style: none;  line-height: 1.6; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }

b.max-bold{ font-weight: 700; }

input:focus,
textarea:focus{ outline-color: #0C0E68; }

i{ display: inline-block; }

::placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }
::-ms-input-placeholder { color: #ccc; }


/* RESPONSIVE */

@media only screen and (max-width: 767px) {

	p{ line-height: 1.4; }

	h1{ font-size: 3.8em; }
	h2{ font-size: 2em; }
	h3{ font-size: 1.6em; }
	h4{ font-size: 1.3em; }

}

@media only screen and (max-width: 575px) {

	body{ font-size: 14px; }

	h1{ font-size: 3em; }
	h2{ font-size: 1.8em; }
	h3{ font-size: 1.4em; }
	h4{ font-size: 1.2em; }

}



/* ---------------------------------
3. HEADER
--------------------------------- */






/* RESPONSIVE */






/* BORDER RADIUS */

.br-2{ border-radius: 2px; }
.br-3{ border-radius: 3px; }


/* CARDVIEW */

.card-view{ border-radius: 3px; overflow: hidden; box-shadow: 1px 1px 4px rgba(0,0,0,.10);  background: #fff; }


/* RESPONSIVE */

@media only screen and (max-width: 575px) {

	div.card-view{ padding: 20px!important; }

}


/* POSITION */

.pos-relative{ position: relative; z-index: 1; }

.abs-tlr{ position: absolute; top: 0; left: 0; right: 0; z-index: 1; }
.abs-blr{ position: absolute; bottom: 0; left: 0; right: 0; z-index: 1; }
.abs-tl{ position: absolute; top: 0; left: 0; z-index: 1; }
.abs-br{ position: absolute; bottom: 0; right: 0; z-index: 1; }
.abs-tbr{ position: absolute; top: 0; bottom: 0; right: 0; z-index: 1; }
.abs-tblr{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; }

.z--1{ z-index: -1; }


/* ALIGNMENT */

.float-left{ float: left!important; }
.float-right{ float: right!important; }

.text-left{ text-align: left!important; }
.text-center{ text-align: center!important; }


/* LINE HEIGHT */

/* FONTS */

.t-upper{ text-transform: uppercase; text-shadow: 2px 3px 20px rgba(0,0,0,.8); }

.letter-big{ font-size: 4.5em; line-height: 1; float: left; margin: 0 10px 0px 0; font-weight: 700; }


/* RESPONSIVE */



/* COLOR */


/* SHAPE */

/* HOVER */


/* BACKGROUND IMAGE */




/* BUTTON STYLING */

.btn-fill-primary{ text-align: center; height: 45px; line-height: 43px; border: 1px solid #0C0E68; background: #0C0E68;
	border-radius: 2px; color: #fff; }
.btn-fill-primary:focus,
.btn-fill-primary:hover{ background: none; }

/* FORM INPUT STYLING */

.nwsltr-primary-1{ position: relative; }

.nwsltr-primary-1 input{ height: 45px; display: block; width: 100%; padding: 0 65px 0 20px;
	border: 1px solid #0C0E68; }

.nwsltr-primary-1 button{ position: absolute; top: 1px; bottom: 1px; right: 1px; width: 45px; text-align: center;
	background: #0C0E68; color: #000; }

.nwsltr-primary-1 button i{ font-size: 1.3em; }

.nwsltr-primary-1 button:focus,
.nwsltr-primary-1 button:hover{ background: #000; color: #fff; }

.abs-form{ position: relative; width: 100%;  }
.abs-form input{ padding: 0 35px 0 10px; width: 100%; background: none; height: 35px; border-radius: 3px;
	border: 1px solid #777; color: #eee; }
.abs-form button{ position: absolute; width: 35px; top: 0; bottom: 0; right: 0; color: #eee; }

.abs-form input:focus{ border-color: #eee; }


form input,
form textarea{ height: 40px; padding: 0 15px; display: block; width: 100%; border-radius: 3px; border: 1px solid #ccc; }

form textarea{ min-height: 120px; max-height: 120px; padding: 10px 15px; }


.form-block input,
.form-block textarea{ display: block; width: 100%; }

.form-bold input,
.form-bold textarea{ font-weight: 700; }

.form-plr-15 input,
.form-plr-15 textarea{ padding: 0 15px; }

.form-h-35 input{ height: 35px; }
.form-h-40 input{ height: 40px; }
.form-h-45 input{ height: 45px; }

.form-mb-20 input,
.form-mb-20 textarea{ margin-bottom: 20px; }

.form-brdr-grey input,
.form-brdr-grey textarea{ border: 1px solid #ccc; }

.form-brdr-lite-white input,
.form-brdr-lite-white textarea{ border: 1px solid #ddd; }

.form-brdr-b-grey input,
.form-brdr-b-grey textarea{ outline: 0; border: 0px; border-bottom: 1px solid #ccc; }

.form-brdr-b-grey input:focus,
.form-brdr-b-grey textarea:focus{ border-bottom: 1px solid #0C0E68; }

.form-sm input{ display: block; width:100%; height: 35px; border: 1px solid #ccc; border-radius: 3px; padding: 0 15px; }
.form-sm button{ display: block; width:100%; height: 35px; }


/* SIDED SECTION */

/* RESPONSIVE */

@media only screen and (max-width: 1200px) {

	.sided-250x.s-lg-height .s-left img{ width: auto; height: 100%; }

}

@media only screen and (max-width: 778px) {

	.sided-half .sided-sm-center{ float: none; text-align: center; }

}

/* WIDTH/HEIGHT */



/* LIST */

.list-block > li{ display: block; }
.list-relative > li{ position: relative; }
.list-a-block > li > a{ display: block; }

.list-btm-border-white > li{ border-bottom: 1px solid #fff; }

.list-a-block > li > a{ display: block; }
.list-a-bg-grey > li > a{ background: #EBEBEB; }
.list-a-bg-primary > li > a{ background: #0C0E68; }

.list-a-br-2  > li > a { border-radius: 2px; }
.list-a-br-5  > li > a { border-radius: 5px; }

.list-radial-30 > li > a{ height: 30px; line-height: 28px; width: 30px; border-radius: 50px; border: 1px solid #aaa; }
.list-radial-35 > li > a{ height: 35px; line-height: 33px; width: 35px; border-radius: 50px; border: 1px solid #aaa; }

.list-radial-30 > li > a:hover,
.list-radial-35 > li > a:hover{ color: #0C0E68; border-color: #fff; background: #fff; }

.list-a-hvr-primary > li > a:hover{ background: #0C0E68; color: #fff; }

.list-square > li{ position: relative; display: block; }
.list-square > li:before{ content:''; display: inline-block; height: 10px; width: 10px; background: #444;
	margin-right: 10px; }

.list-hyphen > li{ position: relative; display: block; padding-left: 17px; }
.list-hyphen > li:before{ content:''; display: inline-block; position: absolute; top:50%; left:0; height: 1px;
	width: 7px; margin-top: -2px; background: #444; }

.list-contact > li{ position: relative; margin-left:1px; padding-right: 25px; display: block; margin-bottom: 10px; }

.list-contact > li i{ position: absolute; top: 50%; right: 0; color: #0C0E68; font-size: 1.2em;
	-webkit-transform: transformY(-50%); transform: translateY(-50%); }

.list-btn-semiwhite > li > a{ padding: 5px 10px; border-radius: 2px; margin-right: 3px; font-size: .9em;
	margin-bottom: 5px; background: #ddd; }
.list-btn-semiwhite > li > a:hover{ background: #0C0E68; color: #fff; }



/* MARGIN/PADDING */
@media only screen and (max-width: 1200px) {

	.sided-250x.s-lg-height .s-left img{ width: auto; height: 100%; }

}

@media only screen and (max-width: 778px) {

	.sided-half .sided-sm-center{ float: none; text-align: center; }

}

@media only screen and (max-width: 576px) {

	.sided-80x .s-left{ height: 70px; width: 70px; }
	.sided-80x .s-right{ margin-left: 85px; min-height: 70px; }

	.sided-90x .s-left{ height: 70px; width: 70px; }
	.sided-90x .s-right{ margin-left: 85px; min-height: 70px; }

	.sided-250x{ position: relative; }
	.sided-250x .s-left{ position: relative; top: 0; bottom: 0; left: 0; width: 100%; height: 200px; overflow: hidden; }
	.sided-250x .s-left img,
	.sided-250x.s-lg-height .s-left img{ width: 100%; height: auto; }
	.sided-250x .s-right{ margin-left: 00px; }

}



/* INDIVIDUAL STYLING */

section{ padding: 50px 0; }

.p-title{ position: relative; padding-bottom: 15px; margin-bottom: 30px; }

.p-title:after { content:''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #ccc; }
.p-title:before{ content:''; position: absolute; bottom: 0;  width: 80px; height: 5px;
	background: #0C0E68; z-index: 1;
	float: right;
	right: 0;}

.p-title.in:after { background: #777; }
.p-title.in:before{ background: #fff; }

.f-title{ position: relative; padding-bottom: 15px; margin-bottom: 30px; }

.f-title:before{ content:''; position: absolute; bottom: 0; left: 0; width: 50px; height: 3px;
	background: #fff; z-index: 1; }


.quote-primary{ padding: 10px 20px; border-left: 2px solid #0C0E68; }


/* RESPONSIVE */

@media only screen and (max-width: 576px) {

	.list-a-p-xs-0  > li > a{ padding:  0px; }
	.list-a-p-xs-5  > li > a{ padding:  5px; }
	.list-a-p-xs-10 > li > a{ padding: 10px; }
	.list-a-p-xs-15 > li > a{ padding: 15px; }
	.list-a-p-xs-20 > li > a{ padding: 20px; }
	.list-a-p-xs-25 > li > a{ padding: 25px; }
	.list-a-p-xs-30 > li > a{ padding: 30px; }

	.list-a-plr-xs-0  > li > a{ padding-left:  0px; padding-right:  0px; }
	.list-a-plr-xs-5  > li > a{ padding-left:  5px; padding-right:  5px; }
	.list-a-plr-xs-10 > li > a{ padding-left: 10px; padding-right: 10px; }
	.list-a-plr-xs-15 > li > a{ padding-left: 15px; padding-right: 15px; }
	.list-a-plr-xs-20 > li > a{ padding-left: 20px; padding-right: 20px; }
	.list-a-plr-xs-25 > li > a{ padding-left: 25px; padding-right: 25px; }
	.list-a-plr-xs-30 > li > a{ padding-left: 30px; padding-right: 30px; }

	.list-a-pr-xs-0  > li > a{ padding-right: 0px; }
	.list-a-pr-xs-5  > li > a{ padding-right: 5px; }
	.list-a-pr-xs-10 > li > a{ padding-right: 10px; }
	.list-a-pr-xs-15 > li > a{ padding-right: 15px; }
	.list-a-pr-xs-20 > li > a{ padding-right: 20px; }
	.list-a-pr-xs-25 > li > a{ padding-right: 25px; }
	.list-a-pr-xs-30 > li > a{ padding-right: 30px; }

	.list-a-pl-xs-0  > li > a{ padding-left:  0px; }
	.list-a-pl-xs-5  > li > a{ padding-left:  5px; }
	.list-a-pl-xs-10 > li > a{ padding-left: 10px; }
	.list-a-pl-xs-15 > li > a{ padding-left: 15px; }
	.list-a-pl-xs-20 > li > a{ padding-left: 20px; }
	.list-a-pl-xs-25 > li > a{ padding-left: 25px; }
	.list-a-pl-xs-30 > li > a{ padding-left: 30px; }

	.list-a-ptb-xs-0  > li > a{ padding-top:  0px; padding-bottom:  0px; }
	.list-a-ptb-xs-5  > li > a{ padding-top:  5px; padding-bottom:  5px; }
	.list-a-ptb-xs-10 > li > a{ padding-top: 10px; padding-bottom: 10px; }
	.list-a-ptb-xs-15 > li > a{ padding-top: 15px; padding-bottom: 15px; }
	.list-a-ptb-xs-20 > li > a{ padding-top: 20px; padding-bottom: 20px; }
	.list-a-ptb-xs-25 > li > a{ padding-top: 25px; padding-bottom: 25px; }
	.list-a-ptb-xs-30 > li > a{ padding-top: 30px; padding-bottom: 30px; }

	.list-a-ptb-xs-7 > li > a{ padding-top: 7px; padding-bottom: 7px; }
	.list-a-ptb-xs-8 > li > a{ padding-top: 8px; padding-bottom: 8px; }

	.list-a-pt-xs-0  > li > a{ padding-top:  0px; }
	.list-a-pt-xs-5  > li > a{ padding-top:  5px; }
	.list-a-pt-xs-10 > li > a{ padding-top: 10px; }
	.list-a-pt-xs-15 > li > a{ padding-top: 15px; }
	.list-a-pt-xs-20 > li > a{ padding-top: 20px; }
	.list-a-pt-xs-25 > li > a{ padding-top: 25px; }
	.list-a-pt-xs-30 > li > a{ padding-top: 30px; }

	.list-a-pb-xs-0  > li > a{ padding-bottom:  0px; }
	.list-a-pb-xs-5  > li > a{ padding-bottom:  5px; }
	.list-a-pb-xs-10 > li > a{ padding-bottom: 10px; }
	.list-a-pb-xs-15 > li > a{ padding-bottom: 15px; }
	.list-a-pb-xs-20 > li > a{ padding-bottom: 20px; }
	.list-a-pb-xs-25 > li > a{ padding-bottom: 25px; }
	.list-a-pb-xs-30 > li > a{ padding-bottom: 30px; }


	.list-li-mlr-xs-0  > li{ margin-left:  0px; margin-right:  0px; }
	.list-li-mlr-xs-5  > li{ margin-left:  5px; margin-right:  5px; }
	.list-li-mlr-xs-10 > li{ margin-left: 10px; margin-right: 10px; }
	.list-li-mlr-xs-15 > li{ margin-left: 15px; margin-right: 15px; }
	.list-li-mlr-xs-20 > li{ margin-left: 20px; margin-right: 20px; }
	.list-li-mlr-xs-25 > li{ margin-left: 25px; margin-right: 25px; }
	.list-li-mlr-xs-30 > li{ margin-left: 30px; margin-right: 30px; }

	.list-li-mtb-xs-0  > li{ margin-top:  0px; margin-bottom:  0px; }
	.list-li-mtb-xs-5  > li{ margin-top:  5px; margin-bottom:  5px; }
	.list-li-mtb-xs-10 > li{ margin-top: 10px; margin-bottom: 10px; }
	.list-li-mtb-xs-15 > li{ margin-top: 15px; margin-bottom: 15px; }
	.list-li-mtb-xs-20 > li{ margin-top: 20px; margin-bottom: 20px; }
	.list-li-mtb-xs-25 > li{ margin-top: 25px; margin-bottom: 25px; }
	.list-li-mtb-xs-30 > li{ margin-top: 30px; margin-bottom: 30px; }

	.list-li-mr-xs-0  > li{ margin-right:  0px; }
	.list-li-mr-xs-5  > li{ margin-right:  5px; }
	.list-li-mr-xs-10 > li{ margin-right: 10px; }
	.list-li-mr-xs-15 > li{ margin-right: 15px; }
	.list-li-mr-xs-20 > li{ margin-right: 20px; }
	.list-li-mr-xs-25 > li{ margin-right: 25px; }
	.list-li-mr-xs-30 > li{ margin-right: 30px; }

	.list-li-ml-xs-0  > li{ margin-left:  0px; }
	.list-li-ml-xs-5  > li{ margin-left:  5px; }
	.list-li-ml-xs-10 > li{ margin-left: 10px; }
	.list-li-ml-xs-15 > li{ margin-left: 15px; }
	.list-li-ml-xs-20 > li{ margin-left: 20px; }
	.list-li-ml-xs-25 > li{ margin-left: 25px; }
	.list-li-ml-xs-30 > li{ margin-left: 30px; }

	.list-li-mt-xs-0  > li{ margin-top:  0px; }
	.list-li-mt-xs-5  > li{ margin-top:  5px; }
	.list-li-mt-xs-10 > li{ margin-top: 10px; }
	.list-li-mt-xs-15 > li{ margin-top: 15px; }
	.list-li-mt-xs-20 > li{ margin-top: 20px; }
	.list-li-mt-xs-25 > li{ margin-top: 25px; }
	.list-li-mt-xs-30 > li{ margin-top: 30px; }

	.list-li-mb-xs-0  > li{ margin-bottom:  0px; }
	.list-li-mb-xs-5  > li{ margin-bottom:  5px; }
	.list-li-mb-xs-10 > li{ margin-bottom: 10px; }
	.list-li-mb-xs-15 > li{ margin-bottom: 15px; }
	.list-li-mb-xs-20 > li{ margin-bottom: 20px; }
	.list-li-mb-xs-25 > li{ margin-bottom: 25px; }
	.list-li-mb-xs-30 > li{ margin-bottom: 30px; }


	.list-li-plr-xs-0  > li{ padding-left:  0px; padding-right:  0px; }
	.list-li-plr-xs-5  > li{ padding-left:  5px; padding-right:  5px; }
	.list-li-plr-xs-10 > li{ padding-left: 10px; padding-right: 10px; }
	.list-li-plr-xs-15 > li{ padding-left: 15px; padding-right: 15px; }
	.list-li-plr-xs-20 > li{ padding-left: 20px; padding-right: 20px; }
	.list-li-plr-xs-25 > li{ padding-left: 25px; padding-right: 25px; }
	.list-li-plr-xs-30 > li{ padding-left: 30px; padding-right: 30px; }

	.list-li-ptb-xs-0  > li{ padding-top:  0px; padding-bottom:  0px; }
	.list-li-ptb-xs-5  > li{ padding-top:  5px; padding-bottom:  5px; }
	.list-li-ptb-xs-10 > li{ padding-top: 10px; padding-bottom: 10px; }
	.list-li-ptb-xs-15 > li{ padding-top: 15px; padding-bottom: 15px; }
	.list-li-ptb-xs-20 > li{ padding-top: 20px; padding-bottom: 20px; }
	.list-li-ptb-xs-25 > li{ padding-top: 25px; padding-bottom: 25px; }
	.list-li-ptb-xs-30 > li{ padding-top: 30px; padding-bottom: 30px; }

	.list-li-pr-xs-0  > li{ padding-right:  0px; }
	.list-li-pr-xs-5  > li{ padding-right:  5px; }
	.list-li-pr-xs-10 > li{ padding-right: 10px; }
	.list-li-pr-xs-15 > li{ padding-right: 15px; }
	.list-li-pr-xs-20 > li{ padding-right: 20px; }
	.list-li-pr-xs-25 > li{ padding-right: 25px; }
	.list-li-pr-xs-30 > li{ padding-right: 30px; }

	.list-li-pl-xs-0  > li{ padding-left:  0px; }
	.list-li-pl-xs-5  > li{ padding-left:  5px; }
	.list-li-pl-xs-10 > li{ padding-left: 10px; }
	.list-li-pl-xs-15 > li{ padding-left: 15px; }
	.list-li-pl-xs-20 > li{ padding-left: 20px; }
	.list-li-pl-xs-25 > li{ padding-left: 25px; }
	.list-li-pl-xs-30 > li{ padding-left: 30px; }

	.list-li-pt-xs-0  > li{ padding-top:  0px; }
	.list-li-pt-xs-5  > li{ padding-top:  5px; }
	.list-li-pt-xs-10 > li{ padding-top: 10px; }
	.list-li-pt-xs-15 > li{ padding-top: 15px; }
	.list-li-pt-xs-20 > li{ padding-top: 20px; }
	.list-li-pt-xs-25 > li{ padding-top: 25px; }
	.list-li-pt-xs-30 > li{ padding-top: 30px; }

	.list-li-pb-xs-0  > li{ padding-bottom:  0px; }
	.list-li-pb-xs-5  > li{ padding-bottom:  5px; }
	.list-li-pb-xs-10 > li{ padding-bottom: 10px; }
	.list-li-pb-xs-15 > li{ padding-bottom: 15px; }
	.list-li-pb-xs-20 > li{ padding-bottom: 20px; }
	.list-li-pb-xs-25 > li{ padding-bottom: 25px; }
	.list-li-pb-xs-30 > li{ padding-bottom: 30px; }

}

/* MARGIN */

.m-5 { margin:  5px!important; }
.m-10{ margin: 10px!important; }
.m-15{ margin: 15px!important; }
.m-20{ margin: 20px!important; }
.m-25{ margin: 25px!important; }
.m-30{ margin: 30px!important; }
.m-40{ margin: 40px!important; }
.m-50{ margin: 50px!important; }

.mtb-5 { margin-top:  5px!important; margin-bottom:  5px!important; }
.mtb-10{ margin-top: 10px!important; margin-bottom: 10px!important; }
.mtb-15{ margin-top: 15px!important; margin-bottom: 15px!important; }
.mtb-20{ margin-top: 20px!important; margin-bottom: 20px!important; }
.mtb-25{ margin-top: 25px!important; margin-bottom: 25px!important; }
.mtb-30{ margin-top: 30px!important; margin-bottom: 30px!important; }
.mtb-40{ margin-top: 40px!important; margin-bottom: 40px!important; }
.mtb-50{ margin-top: 50px!important; margin-bottom: 50px!important; }

.mb-5 { margin-bottom:  5px!important; }
.mb-10{ margin-bottom: 10px!important; }
.mb-15{ margin-bottom: 15px!important; }
.mb-20{ margin-bottom: 20px!important; }
.mb-25{ margin-bottom: 25px!important; }
.mb-30{ margin-bottom: 30px!important; }
.mb-40{ margin-bottom: 40px!important; }
.mb-50{ margin-bottom: 50px!important; }

.mt-5 { margin-top:  5px!important; }
.mt-10{ margin-top: 10px!important; }
.mt-15{ margin-top: 15px!important; }
.mt-20{ margin-top: 20px!important; }
.mt-25{ margin-top: 25px!important; }
.mt-30{ margin-top: 30px!important; }
.mt-40{ margin-top: 40px!important; }
.mt-50{ margin-top: 50px!important; }

.mlr-5 { margin-left:  5px!important; margin-right:  5px!important; }
.mlr-10{ margin-left: 10px!important; margin-right: 10px!important; }
.mlr-15{ margin-left: 15px!important; margin-right: 15px!important; }
.mlr-20{ margin-left: 20px!important; margin-right: 20px!important; }
.mlr-25{ margin-left: 25px!important; margin-right: 25px!important; }
.mlr-30{ margin-left: 30px!important; margin-right: 30px!important; }
.mlr-40{ margin-left: 40px!important; margin-right: 40px!important; }
.mlr-50{ margin-left: 50px!important; margin-right: 50px!important; }

.ml-5 { margin-left:  5px!important; }
.ml-10{ margin-left: 10px!important; }
.ml-15{ margin-left: 15px!important; }
.ml-20{ margin-left: 20px!important; }
.ml-25{ margin-left: 25px!important; }
.ml-30{ margin-left: 30px!important; }
.ml-40{ margin-left: 40px!important; }
.ml-50{ margin-left: 50px!important; }
.ml-60{ margin-left: 60px!important; }
.ml-70{ margin-left: 70px!important; }
.ml-80{ margin-left: 80px!important; }
.ml-85{ margin-left: 85px!important; }
.ml-90{ margin-left: 90px!important; }
.ml-100{ margin-left: 100px!important; }
.ml-110{ margin-left: 110px!important; }
.ml-115{ margin-left: 115px!important; }
.ml-120{ margin-left: 120px!important; }

.mr-5 { margin-right:  5px!important; }
.mr-10{ margin-right: 10px!important; }
.mr-15{ margin-right: 15px!important; }
.mr-20{ margin-right: 20px!important; }
.mr-25{ margin-right: 25px!important; }
.mr-30{ margin-right: 30px!important; }
.mr-40{ margin-right: 40px!important; }
.mr-50{ margin-right: 50px!important; }
.mr-100{ margin-right: 100px!important; }
.mr-110{ margin-right: 110px!important; }
.mr-115{ margin-right: 115px!important; }
.mr-120{ margin-right: 120px!important; }


.m-auto{ margin: auto; }

.mtb-auto{ margin-top: auto; margin-bottom: auto; }

.mlr-auto{ margin-left: auto; margin-right: auto; }


/* RESPONSIVE */

@media only screen and (max-width: 992px) {

	.m-md-0 { margin:  0px!important; }
	.m-md-5 { margin:  5px!important; }
	.m-md-10{ margin: 10px!important; }
	.m-md-15{ margin: 15px!important; }
	.m-md-20{ margin: 20px!important; }
	.m-md-25{ margin: 25px!important; }
	.m-md-30{ margin: 30px!important; }
	.m-md-40{ margin: 40px!important; }
	.m-md-50{ margin: 50px!important; }

	.mtb-md-0 { margin-top:  0px!important; margin-bottom:  0px!important; }
	.mtb-md-5 { margin-top:  5px!important; margin-bottom:  5px!important; }
	.mtb-md-10{ margin-top: 10px!important; margin-bottom: 10px!important; }
	.mtb-md-15{ margin-top: 15px!important; margin-bottom: 15px!important; }
	.mtb-md-20{ margin-top: 20px!important; margin-bottom: 20px!important; }
	.mtb-md-25{ margin-top: 25px!important; margin-bottom: 25px!important; }
	.mtb-md-30{ margin-top: 30px!important; margin-bottom: 30px!important; }
	.mtb-md-40{ margin-top: 40px!important; margin-bottom: 40px!important; }
	.mtb-md-50{ margin-top: 50px!important; margin-bottom: 50px!important; }

	.mb-md-0 { margin-bottom:  0px!important; }
	.mb-md-5 { margin-bottom:  5px!important; }
	.mb-md-10{ margin-bottom: 10px!important; }
	.mb-md-15{ margin-bottom: 15px!important; }
	.mb-md-20{ margin-bottom: 20px!important; }
	.mb-md-25{ margin-bottom: 25px!important; }
	.mb-md-30{ margin-bottom: 30px!important; }
	.mb-md-40{ margin-bottom: 40px!important; }
	.mb-md-50{ margin-bottom: 50px!important; }

	.mt-md-0 { margin-top:  0px!important; }
	.mt-md-5 { margin-top:  5px!important; }
	.mt-md-10{ margin-top: 10px!important; }
	.mt-md-15{ margin-top: 15px!important; }
	.mt-md-20{ margin-top: 20px!important; }
	.mt-md-25{ margin-top: 25px!important; }
	.mt-md-30{ margin-top: 30px!important; }
	.mt-md-40{ margin-top: 40px!important; }
	.mt-md-50{ margin-top: 50px!important; }

	.mlr-md-0 { margin-left:  0px!important; margin-right:  0px!important; }
	.mlr-md-5 { margin-left:  5px!important; margin-right:  5px!important; }
	.mlr-md-10{ margin-left: 10px!important; margin-right: 10px!important; }
	.mlr-md-15{ margin-left: 15px!important; margin-right: 15px!important; }
	.mlr-md-20{ margin-left: 20px!important; margin-right: 20px!important; }
	.mlr-md-25{ margin-left: 25px!important; margin-right: 25px!important; }
	.mlr-md-30{ margin-left: 30px!important; margin-right: 30px!important; }
	.mlr-md-40{ margin-left: 40px!important; margin-right: 40px!important; }
	.mlr-md-50{ margin-left: 50px!important; margin-right: 50px!important; }

	.ml-md-0 { margin-left:  0px!important; }
	.ml-md-5 { margin-left:  5px!important; }
	.ml-md-10{ margin-left: 10px!important; }
	.ml-md-15{ margin-left: 15px!important; }
	.ml-md-20{ margin-left: 20px!important; }
	.ml-md-25{ margin-left: 25px!important; }
	.ml-md-30{ margin-left: 30px!important; }
	.ml-md-40{ margin-left: 40px!important; }
	.ml-md-50{ margin-left: 50px!important; }
	.ml-md-60{ margin-left: 60px!important; }
	.ml-md-70{ margin-left: 70px!important; }
	.ml-md-80{ margin-left: 80px!important; }
	.ml-md-85{ margin-left: 85px!important; }
	.ml-md-90{ margin-left: 90px!important; }
	.ml-md-100{ margin-left: 100px!important; }
	.ml-md-110{ margin-left: 110px!important; }
	.ml-md-115{ margin-left: 115px!important; }
	.ml-md-120{ margin-left: 120px!important; }

	.mr-md-0 { margin-right:  0px!important; }
	.mr-md-5 { margin-right:  5px!important; }
	.mr-md-10{ margin-right: 10px!important; }
	.mr-md-15{ margin-right: 15px!important; }
	.mr-md-20{ margin-right: 20px!important; }
	.mr-md-25{ margin-right: 25px!important; }
	.mr-md-30{ margin-right: 30px!important; }
	.mr-md-40{ margin-right: 40px!important; }
	.mr-md-50{ margin-right: 50px!important; }
	.mr-md-100{ margin-right: 100px!important; }
	.mr-md-110{ margin-right: 110px!important; }
	.mr-md-115{ margin-right: 115px!important; }
	.mr-md-120{ margin-right: 120px!important; }

	.m-md-auto{ margin: auto; }

	.mtb-md-auto{ margin-top: auto; margin-bottom: auto; }

	.mlr-md-auto{ margin-left: auto; margin-right: auto; }

}

@media only screen and (max-width: 767px) {

	.m-sm-0 { margin:  0px!important; }
	.m-sm-5 { margin:  5px!important; }
	.m-sm-10{ margin: 10px!important; }
	.m-sm-15{ margin: 15px!important; }
	.m-sm-20{ margin: 20px!important; }
	.m-sm-25{ margin: 25px!important; }
	.m-sm-30{ margin: 30px!important; }
	.m-sm-40{ margin: 40px!important; }
	.m-sm-50{ margin: 50px!important; }

	.mtb-sm-0 { margin-top:  0px!important; margin-bottom:  0px!important; }
	.mtb-sm-5 { margin-top:  5px!important; margin-bottom:  5px!important; }
	.mtb-sm-10{ margin-top: 10px!important; margin-bottom: 10px!important; }
	.mtb-sm-15{ margin-top: 15px!important; margin-bottom: 15px!important; }
	.mtb-sm-20{ margin-top: 20px!important; margin-bottom: 20px!important; }
	.mtb-sm-25{ margin-top: 25px!important; margin-bottom: 25px!important; }
	.mtb-sm-30{ margin-top: 30px!important; margin-bottom: 30px!important; }
	.mtb-sm-40{ margin-top: 40px!important; margin-bottom: 40px!important; }
	.mtb-sm-50{ margin-top: 50px!important; margin-bottom: 50px!important; }

	.mb-sm-0 { margin-bottom:  0px!important; }
	.mb-sm-5 { margin-bottom:  5px!important; }
	.mb-sm-10{ margin-bottom: 10px!important; }
	.mb-sm-15{ margin-bottom: 15px!important; }
	.mb-sm-20{ margin-bottom: 20px!important; }
	.mb-sm-25{ margin-bottom: 25px!important; }
	.mb-sm-30{ margin-bottom: 30px!important; }
	.mb-sm-40{ margin-bottom: 40px!important; }
	.mb-sm-50{ margin-bottom: 50px!important; }

	.mt-sm-0 { margin-top:  0px!important; }
	.mt-sm-5 { margin-top:  5px!important; }
	.mt-sm-10{ margin-top: 10px!important; }
	.mt-sm-15{ margin-top: 15px!important; }
	.mt-sm-20{ margin-top: 20px!important; }
	.mt-sm-25{ margin-top: 25px!important; }
	.mt-sm-30{ margin-top: 30px!important; }
	.mt-sm-40{ margin-top: 40px!important; }
	.mt-sm-50{ margin-top: 50px!important; }

	.mlr-sm-0 { margin-left:  0px!important; margin-right:  0px!important; }
	.mlr-sm-5 { margin-left:  5px!important; margin-right:  5px!important; }
	.mlr-sm-10{ margin-left: 10px!important; margin-right: 10px!important; }
	.mlr-sm-15{ margin-left: 15px!important; margin-right: 15px!important; }
	.mlr-sm-20{ margin-left: 20px!important; margin-right: 20px!important; }
	.mlr-sm-25{ margin-left: 25px!important; margin-right: 25px!important; }
	.mlr-sm-30{ margin-left: 30px!important; margin-right: 30px!important; }
	.mlr-sm-40{ margin-left: 40px!important; margin-right: 40px!important; }
	.mlr-sm-50{ margin-left: 50px!important; margin-right: 50px!important; }

	.ml-sm-0 { margin-left:  0px!important; }
	.ml-sm-5 { margin-left:  5px!important; }
	.ml-sm-10{ margin-left: 10px!important; }
	.ml-sm-15{ margin-left: 15px!important; }
	.ml-sm-20{ margin-left: 20px!important; }
	.ml-sm-25{ margin-left: 25px!important; }
	.ml-sm-30{ margin-left: 30px!important; }
	.ml-sm-40{ margin-left: 40px!important; }
	.ml-sm-50{ margin-left: 50px!important; }
	.ml-sm-60{ margin-left: 60px!important; }
	.ml-sm-70{ margin-left: 70px!important; }
	.ml-sm-80{ margin-left: 80px!important; }
	.ml-sm-85{ margin-left: 85px!important; }
	.ml-sm-90{ margin-left: 90px!important; }
	.ml-sm-100{ margin-left: 100px!important; }
	.ml-sm-110{ margin-left: 110px!important; }
	.ml-sm-120{ margin-left: 120px!important; }

	.mr-sm-0 { margin-right:  0px!important; }
	.mr-sm-5 { margin-right:  5px!important; }
	.mr-sm-10{ margin-right: 10px!important; }
	.mr-sm-15{ margin-right: 15px!important; }
	.mr-sm-20{ margin-right: 20px!important; }
	.mr-sm-25{ margin-right: 25px!important; }
	.mr-sm-30{ margin-right: 30px!important; }
	.mr-sm-40{ margin-right: 40px!important; }
	.mr-sm-50{ margin-right: 50px!important; }
	.mr-sm-100{ margin-right: 100px!important; }
	.mr-sm-110{ margin-right: 110px!important; }
	.mr-sm-120{ margin-right: 120px!important; }

	.m-sm-auto{ margin: auto; }

	.mtb-sm-auto{ margin-top: auto; margin-bottom: auto; }

	.mlr-sm-auto{ margin-left: auto; margin-right: auto; }

}

@media only screen and (max-width: 576px) {

	.m-xs-0 { margin:  0px!important; }
	.m-xs-5 { margin:  5px!important; }
	.m-xs-10{ margin: 10px!important; }
	.m-xs-15{ margin: 15px!important; }
	.m-xs-20{ margin: 20px!important; }
	.m-xs-25{ margin: 25px!important; }
	.m-xs-30{ margin: 30px!important; }
	.m-xs-40{ margin: 40px!important; }
	.m-xs-50{ margin: 50px!important; }

	.mtb-xs-0 { margin-top:  0px!important; margin-bottom:  0px!important; }
	.mtb-xs-5 { margin-top:  5px!important; margin-bottom:  5px!important; }
	.mtb-xs-10{ margin-top: 10px!important; margin-bottom: 10px!important; }
	.mtb-xs-15{ margin-top: 15px!important; margin-bottom: 15px!important; }
	.mtb-xs-20{ margin-top: 20px!important; margin-bottom: 20px!important; }
	.mtb-xs-25{ margin-top: 25px!important; margin-bottom: 25px!important; }
	.mtb-xs-30{ margin-top: 30px!important; margin-bottom: 30px!important; }
	.mtb-xs-40{ margin-top: 40px!important; margin-bottom: 40px!important; }
	.mtb-xs-50{ margin-top: 50px!important; margin-bottom: 50px!important; }

	.mb-xs-0 { margin-bottom:  0px!important; }
	.mb-xs-5 { margin-bottom:  5px!important; }
	.mb-xs-10{ margin-bottom: 10px!important; }
	.mb-xs-15{ margin-bottom: 15px!important; }
	.mb-xs-20{ margin-bottom: 20px!important; }
	.mb-xs-25{ margin-bottom: 25px!important; }
	.mb-xs-30{ margin-bottom: 30px!important; }
	.mb-xs-40{ margin-bottom: 40px!important; }
	.mb-xs-50{ margin-bottom: 50px!important; }

	.mt-xs-0 { margin-top:  0px!important; }
	.mt-xs-5 { margin-top:  5px!important; }
	.mt-xs-10{ margin-top: 10px!important; }
	.mt-xs-15{ margin-top: 15px!important; }
	.mt-xs-20{ margin-top: 20px!important; }
	.mt-xs-25{ margin-top: 25px!important; }
	.mt-xs-30{ margin-top: 30px!important; }
	.mt-xs-40{ margin-top: 40px!important; }
	.mt-xs-50{ margin-top: 50px!important; }

	.mlr-xs-0 { margin-left:  0px!important; margin-right:  0px!important; }
	.mlr-xs-5 { margin-left:  5px!important; margin-right:  5px!important; }
	.mlr-xs-10{ margin-left: 10px!important; margin-right: 10px!important; }
	.mlr-xs-15{ margin-left: 15px!important; margin-right: 15px!important; }
	.mlr-xs-20{ margin-left: 20px!important; margin-right: 20px!important; }
	.mlr-xs-25{ margin-left: 25px!important; margin-right: 25px!important; }
	.mlr-xs-30{ margin-left: 30px!important; margin-right: 30px!important; }
	.mlr-xs-40{ margin-left: 40px!important; margin-right: 40px!important; }
	.mlr-xs-50{ margin-left: 50px!important; margin-right: 50px!important; }

	.ml-xs-0 { margin-left:  0px!important; }
	.ml-xs-5 { margin-left:  5px!important; }
	.ml-xs-10{ margin-left: 10px!important; }
	.ml-xs-15{ margin-left: 15px!important; }
	.ml-xs-20{ margin-left: 20px!important; }
	.ml-xs-25{ margin-left: 25px!important; }
	.ml-xs-30{ margin-left: 30px!important; }
	.ml-xs-40{ margin-left: 40px!important; }
	.ml-xs-50{ margin-left: 50px!important; }
	.ml-xs-60{ margin-left: 60px!important; }
	.ml-xs-70{ margin-left: 70px!important; }
	.ml-xs-80{ margin-left: 80px!important; }
	.ml-xs-85{ margin-left: 85px!important; }
	.ml-xs-90{ margin-left: 90px!important; }
	.ml-xs-100{ margin-left: 100px!important; }
	.ml-xs-110{ margin-left: 110px!important; }
	.ml-xs-120{ margin-left: 120px!important; }

	.mr-xs-0 { margin-right:  0px!important; }
	.mr-xs-5 { margin-right:  5px!important; }
	.mr-xs-10{ margin-right: 10px!important; }
	.mr-xs-15{ margin-right: 15px!important; }
	.mr-xs-20{ margin-right: 20px!important; }
	.mr-xs-25{ margin-right: 25px!important; }
	.mr-xs-30{ margin-right: 30px!important; }
	.mr-xs-40{ margin-right: 40px!important; }
	.mr-xs-50{ margin-right: 50px!important; }
	.mr-xs-100{ margin-right: 100px!important; }
	.mr-xs-110{ margin-right: 110px!important; }
	.mr-xs-120{ margin-right: 120px!important; }

	.m-xs-auto{ margin: auto; }

	.mtb-xs-auto{ margin-top: auto; margin-bottom: auto; }

	.mlr-xs-auto{ margin-left: auto; margin-right: auto; }

}


/* PADDING */

.p-0 { padding:  0px!important; }
.p-5 { padding:  5px!important; }
.p-10{ padding: 10px!important; }
.p-15{ padding: 15px!important; }
.p-20{ padding: 20px!important; }
.p-25{ padding: 25px!important; }
.p-30{ padding: 30px!important; }
.p-40{ padding: 40px!important; }
.p-50{ padding: 50px!important; }
.p-60{ padding: 60px!important; }
.p-70{ padding: 70px!important; }
.p-80{ padding: 80px!important; }
.p-90{ padding: 90px!important; }

.pt-0 { padding-top:  0px!important; }
.pt-5 { padding-top:  5px!important; }
.pt-10{ padding-top: 10px!important; }
.pt-15{ padding-top: 15px!important; }
.pt-20{ padding-top: 20px!important; }
.pt-25{ padding-top: 25px!important; }
.pt-30{ padding-top: 30px!important; }
.pt-40{ padding-top: 40px!important; }
.pt-50{ padding-top: 50px!important; }
.pt-60{ padding-top: 60px!important; }
.pt-70{ padding-top: 70px!important; }
.pt-80{ padding-top: 80px!important; }
.pt-90{ padding-top: 90px!important; }

.pb-0 { padding-bottom:  0px!important; }
.pb-5 { padding-bottom:  5px!important; }
.pb-10{ padding-bottom: 10px!important; }
.pb-15{ padding-bottom: 15px!important; }
.pb-20{ padding-bottom: 20px!important; }
.pb-25{ padding-bottom: 25px!important; }
.pb-30{ padding-bottom: 30px!important; }
.pb-40{ padding-bottom: 40px!important; }
.pb-50{ padding-bottom: 50px!important; }
.pt-60{ padding-bottom: 60px!important; }
.pt-70{ padding-bottom: 70px!important; }
.pt-80{ padding-bottom: 80px!important; }
.pt-90{ padding-bottom: 90px!important; }

.pl-0 { padding-left:  0px!important; }
.pl-5 { padding-left:  5px!important; }
.pl-10{ padding-left: 10px!important; }
.pl-15{ padding-left: 15px!important; }
.pl-20{ padding-left: 20px!important; }
.pl-25{ padding-left: 25px!important; }
.pl-30{ padding-left: 30px!important; }
.pl-40{ padding-left: 40px!important; }
.pl-50{ padding-left: 50px!important; }
.pl-60{ padding-left: 60px!important; }
.pl-70{ padding-left: 70px!important; }
.pl-80{ padding-left: 80px!important; }
.pl-90{ padding-left: 90px!important; }

.pr-0 { padding-right:  0px!important; }
.pr-5 { padding-right:  5px!important; }
.pr-10{ padding-right: 10px!important; }
.pr-15{ padding-right: 15px!important; }
.pr-20{ padding-right: 20px!important; }
.pr-25{ padding-right: 25px!important; }
.pr-30{ padding-right: 30px!important; }
.pr-40{ padding-right: 40px!important; }
.pr-50{ padding-right: 50px!important; }
.pr-60{ padding-right: 60px!important; }
.pr-70{ padding-right: 70px!important; }
.pr-80{ padding-right: 80px!important; }
.pr-90{ padding-right: 90px!important; }


/* RESPONSIVE */



.contact
{
	margin-top:30px;
}

